@page
@model StatusModel
@{
    ViewData["Title"] = "Status";
}

<div>
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>
        Time: @ViewBag.Time<br />
        Status: @ViewBag.Count<br />
        Bytes: @(((byte[])ViewBag.Bytes) != null?((byte[])ViewBag.Bytes).Length:null)<br />
    </p>
    <img class="img-fluid" src="data:image/jpeg;base64,@Convert.ToBase64String(ViewBag.Bytes)" />
</div>